.card-register {
  border-radius: 8px;
  margin: 20px 0 70px;
  min-height: 400px;
  padding: 30px;

  & label {
    margin-top: 15px;
  }

  & .card-title {
    color: #B33C12;
    text-align: center;
  }

  & .btn {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  & .forgot {
    text-align: center;
  }

  .input-group-text {
    border: 1px solid $white-color;
  }
}

.login {
  width: 400px;
}

.join {
  padding-top: 50px;
  width: 550px;
}