@font-face {
    font-family: 'home-title-font-l';
    src: url('/assets/fonts/home-title-font/GmarketSansTTFLight.ttf');
  }

.banner{
    margin: 100px 0px;
}

.banner-wrap{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("/assets/img/banner.png");
   // background-image: url("/assets/img/banner.png");
    // opacity: 0.5;
     width: 100%;
    max-width: 100%;
    height: 180px;
}
.banner-content{
    display: flex;
    flex-direction: column;
    padding: 40px;
  }
.banner-content span {
    //font-family: 'home-title-font-m';
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    color: white;
}
.banner-content button {
    display: block;
    margin: auto;
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 0rem;
    width: 100px;
   // height: 30px;
    font-family: 'home-title-font-l';
    font-weight: lighter;
    font-size: 10px;
    color: white;
}
.banner-content button:hover {
    border: 1px solid white; 
    background-color: transparent
}