@font-face {
    font-family: 'home-title-font-m';
    src: url('/assets/fonts/home-title-font/GmarketSansTTFMedium.ttf');
  }

  @font-face {
    font-family: 'home-title-font-l';
    src: url('/assets/fonts/home-title-font/GmarketSansTTFLight.ttf');
  }

@font-face {
    font-family: 'main-font-l';
    src: url('/assets/fonts/main-font/KoPubWorld-Dotum-Light.ttf');
  }

@font-face {
font-family: 'main-font-m';
src: url('/assets/fonts/main-font/KoPubWorld-Dotum-Medium.ttf');
}

.community-main {
    padding: 0% 15%;
    position: relative;

    #commLabel {
        margin-top: 40px;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'home-title-font-m';
        font-size: 28px;
    }

    h3 {
        text-align: center;
        font-family: 'home-title-font-l';
    }

    .community-navtab {
        vertical-align: middle;
        margin-bottom: 15px;
        padding-right: 13px;

        text {
            font-size: 25px;
            font-weight: lighter;
            margin: 0px 5px;
            color: lightgray;
        }

        ul {
            justify-content: center;

            li {
                border: none;

                #free.active, #diary.active {
                    border-top: none !important;
                    border-bottom: 3px solid #4A8451 !important;
                }
            }
        }
    }

    .community-best {
        padding: 20px 0px;
    }

    .community-hr {
        height: 1px;
        background-color: lightgray;
    }

    .community-items-table {
        display: grid;
        grid-template-columns: auto auto auto auto;
        width: 100%;
        padding-left: 0;
        margin-bottom: 0;

        li {
            display:inline-block;
            vertical-align:middle;
            padding-top: 3vh;
            padding-bottom: 2vh;

            #commItem {
                padding: 0;

                #commImg {
                    width: 13vw;
                }
            }
        }
    }
}