@font-face {
   font-family: 'category-font-l';
   src: url('../../fonts/category-font/NIXGONFONTS-L-2.0.ttf');
}

@font-face {
   font-family: 'category-font-m';
   src: url('../../fonts/category-font/NIXGONFONTS-M-2.0.ttf');
}

@font-face {
   font-family: 'main-font-l';
   src: url('../../fonts/main-font/KoPubWorld-Dotum-Light.ttf');
}

@font-face {
   font-family: 'main-font-m';
   src: url('../../fonts/main-font/KoPubWorld-Dotum-Medium.ttf');
}

.item {
    margin: 10px;
    padding: 15px;
}

.item-img {
    position: relative;
    width: 200px;
    border: 1px solid #aaaaaa;
}

.item-title {
    width: 200px;
    padding: 5px;
    font-family: 'main-font-m';
    font-size: 17px;
    color: black;
    border-bottom: 1px solid #aaaaaa;
}

.shop-text {
    width: 200px;
    padding: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
}
.shop-per {
    font-family: 'main-font-l';
    font-weight: bold;
    color: #4A8451;
}

.shop-price {
    font-family: 'main-font-m';
    font-size: 16px;
    font-weight: bold;
    color: black;
}

.shop-strike-price {
    font-family: 'main-font-l';
    font-size: small;
    text-decoration : line-through;
    color: #aaaaaa;
}

.like {
    position: relative;
    width: 100%;
    max-width: 200px;
}

.like-button {
    position: absolute;
    font-size: 20px;
    background-color: transparent;
    border: transparent;
    right: 0%;
    bottom: 10%;
    margin-right: 8px;
    margin-bottom: 8px;
}

.recipe-text {
    width: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 11px;
    margin-right: 11px;
    font-family: 'main-font-m';
    color: black;
}

.place-text {
    width: 200px;
    white-space: nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'main-font-l';
}

#placeType, #placeAddr {
    font-size: small;
}

#placeIntro {
    font-weight: bold;
    margin-bottom: 3px;
    color: black;
}
#placeTime {
    font-size: small;
    color: black;
}

.community-type {
    width: max-content;
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: 'main-font-m';
    font-size: x-small;
    color: black;
    border: 1px solid black;
    text-align: center;
}

.community-text {
    width: 200px;
    white-space: nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
    margin-top: 0px;
    margin-bottom: 4px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'main-font-l';
    color: #aaaaaa;
}

#commContent {
    margin-top: 8px;
    font-size: 14px;
    color: black;
}

#commWriter, #commDate, #commType2 {
    font-size: small;
    padding: 0px 1px;
    color: black;
}