@font-face {
    font-family: 'category-font-m';
    src: url('/assets/fonts/category-font/NIXGONFONTS-M-2.0.ttf');
}

.container {
    //overflow: hidden;
}

.pl-side {
    position: relative;
    top: -42px;
    transition: 0.4s ease;
}

.place-list-imgbtn{
    position: relative;
    left: -28px;
    vertical-align: top;
    top: 80px;
    background-color: #f8f8f8;
    border-radius: 8px 0 0 8px;
    border: 0;
    border-right: 0;
    padding: 3px 7px 5px;
    width: 28px;
    height: 40px;
    padding-right: 4px;

    transition: 0.8s ease;
    overflow: hidden;

    .place-list-prevBtn{
        width: 15px;
        height: 15px;
    }
}


.place-list-main {
    height: 100%;
    width: 384px;
    padding-top: 10px;
    overflow: hidden;
    background-color: #f8f8f8;

    .place-search-bar {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 354px;
        height: 32px;
        margin: 0px 15px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: solid 1px #aaaaaa;
        z-index: 0;
        // opacity: 1;
        background-color: #f8f8f8;

        .place-search-icon{
            background-color: white;
        }
    
        svg {
            margin: 1px 10px;
            padding: 5px 0 2px;
        }
    
        input {
            width: 354px;
            padding-left: 5px;
            padding-right: 24px;
            margin-right: 2px;
            height: 28px;
            border: none;
            -webkit-appearance: none;
            text-align: left;
            overflow: auto;
            z-index: 1;
            font-size: 15px;
    
            &::-webkit-search-cancel-button {
                display:none
            }
    
            // focus시 placeholder 안보이게
            &:focus::-webkit-input-placeholder {
                color: transparent;
            }
            &:focus::-moz-placeholder {
                color: transparent;
            }
            &:focus:-ms-input-placeholder {
                color: transparent;
            }
            &:focus::-ms-input-placeholder {
                color: transparent;
            }
    
            // placeholder 왼쪽 정렬
            &::-webkit-input-placeholder {
                text-align: left;
            }
        }

        .btn-clear {
            position: absolute;
            vertical-align: middle;
            padding: 0;
            margin-left: 320px;
            color: gray;
            background: center center no-repeat;
            border: none;
            z-index: 2;
    
            &:hover {
                color: black;
                background-color: transparent;
            }
        }
    }

    .container {
        height: 740px;
        color: dimgray;
        text-align: center;
        overflow-y: auto;

        .row {
            margin-bottom: 30px;
        }

        .list-img-col {
            height: 120px;
            overflow: hidden;
            justify-content: center;
            align-items: center;
        }

        .list-img {
            object-fit: contain;
            max-height: 120px;
        }

        .name-category {
            margin: 0 2px;
            padding-bottom: 3px;
            padding-left: 4px;
            border-bottom: 2px solid lightgray;
            align-items: center;
            text-align: left;

            .place-name {
                font-size: 20px;
                font-family: 'category-font-m';
                font-weight: 600;
                color: black;
                padding: 0;
                width: 100%;
            }

            .place-category {
                font-size: 11px;
                text-align: left;
                padding-left: 2px;
                width: 100%;
            }

        }

        .place-intro {
            margin-top: 10px;
            font-size: 13px;
            font-weight: 500;
        }

        .place-address {
            padding-left: 7px;
            text-align: left;
            margin-top: 6px;
            font-size: 14px;
            font-weight: 550;
        }

        .place-time {
            margin-top: 3px;
            text-align: left;
            padding-left: 6px;

            span {
                font-size: 13px;
                font-weight: 500;

                svg {
                    margin-right: 3px;
                }
            }
        }

        /* 스크롤바 디자인 부분 */
        /* Customize website's scrollbar like Mac OS
        Not supports in Firefox and IE */

        /* total width */
        &::-webkit-scrollbar {
            background-color: #f8f8f8;
            width: 16px;
        }

        /* background of the scrollbar except button or resizer */
        &::-webkit-scrollbar-track {
            background-color: #f8f8f8;
        }

        /* scrollbar itself */
        &::-webkit-scrollbar-thumb {
            background-color: #babac0;
            border-radius: 16px;
            border: 4px solid #f8f8f8;
        }

        /* set button(top and bottom of the scrollbar) */
        &::-webkit-scrollbar-button {
            display:none;
        }


    }
}

