.inq-main {
    .inq-title {
        padding-top: 10px;
        padding-bottom: 25px;

        h5 {
            font-weight: bold;
        }
    }

    .inq-tb-wrap {
        font-size: 12px;

        .inq-tb {
            border-color: #66615B;

            .inq-thead {

                border-bottom: 2px solid #999999;

                :not(tbody) {
                    border-top: 0;
                    border-bottom: 0;
                }
            }

            // .inq-thead {
            //     background-color: #cfcfcf;
            // }

            .inq-tbody {
                color: black;
            }
        }
    }
}

.inquiry-wrapper {
    margin-top: 20px;
    margin-bottom: 50px;

    .inquiry-content {
        margin-bottom: 14px;
        color: black;
    }

    .shop-updateinquiry-wrapper {
        padding: 8px 8px;
        border: 1px solid rgb(167, 167, 167);
        margin-bottom: 10px;
        margin-top: 10px;

        .shop-updateinquiry-name {
            color: black;
            font-size: 16px;
            font-weight: 500;
        }

        #shop-updateinquiry {
            width: 100%;
            height: 120px;
            border: none;
            resize: none;
            margin-top: 5px;
        }

        #post-updatecomment:focus {
            outline: none;
        }

        .post-commentupdate-btn-wrapper {
            text-align: right;
            padding-right: 10px;

            .post-commentupdate-btn {
                background-color: #4A8451;
                border-color: #4A8451;
                // border: none;
                margin-bottom: 10px;
            }
        }
    }


    .post-comment-btn-wrapper {
        text-align: right;

        .post-comment-btn-edit {
            background-color: white;
            border-width: 1.5px;
            background-color: white;
            border-color: #4A8451;
            color: #4A8451;
            width: 70px;
        }

        .post-comment-btn-cancel {
            background-color: #4A8451;
            border-color: #4A8451;
            width: 70px;
        }

        .post-comment-btn-edit.checked {
            background-color: #37693d;
        }
    }
}


.post-writecomment-wrapper {
    padding: 8px 8px;
    border: 1px solid rgb(167, 167, 167);
    margin-bottom: 10px;
    margin-top: 20px;

    .post-writecomment-name {
        color: black;
        font-size: 16px;
        font-weight: 500;
    }

    #post-writecomment {
        width: 100%;
        height: 120px;
        border: none;
        resize: none;
        margin-top: 5px;
    }

    #post-writecomment:focus {
        outline: none;
    }

    .post-commentwrite-btn-wrapper {
        text-align: right;
        padding-right: 10px;

        .post-commentwrite-btn {
            background-color: #4A8451;
            border-color: #4A8451;
            // border: none;
            margin-bottom: 10px;
        }
    }
}