@font-face {
   font-family: 'main-font-l';
   src: url('../../fonts/main-font/KoPubWorld-Dotum-Light.ttf');
}

@font-face {
   font-family: 'main-font-m';
   src: url('../../fonts/main-font/KoPubWorld-Dotum-Medium.ttf');
}

.rd-main {
    padding: 0% 15%;
    position: relative;
    font-family: 'main-font-l';
    font-size: 16px;
    
    .rd-title {
        min-width: 500px;
        padding-top: 25px;
        font-family: 'main-font-m';
        font-size: 40px;
        text-align: center;
        color: black;
    }

    .rd-info {
        min-width: 500px;
        margin: 35px;
        font-size: 16px;
        text-align: center;
        color:#aaaaaa //#CCC5B9;
    }

    .rd-info-text {
        margin: 0px 15px;
        font-family: 'main-font-m';
        color: black;
    }

    .rd-img {
        min-width: 500px;
        margin: 10px 0px;
        width: 100%;
    }

    .rd-subtitle {
        margin-top: 40px;
        margin-bottom: 25px;
        font-weight: bold;
        font-size: 17px;
        color: black;
    }

    .rd-ingreds {
        display: flex;
        min-width: 500px;
        margin: 20px 20px;

        #rdGenIngred, #rdSsnIngred {
            width: 50%;
        }

        #rdGenIngred {
            padding-right: 20px;
        }
        
        #rdSsnIngred {
            padding-left: 20px;
        }
        
        .rd-ingred {
            padding: 6px 5px;
            margin: 13px 20px;
            border-bottom: 1px solid #CCC5B9;
            display: flex;
            justify-content: space-between;
        }
    }

    .rd-steps {
        min-width: 500px;

        .rd-step {
            margin-bottom: 25px;
            padding: 10px 20px;
            width: 100%;
            
            .rd-step-img {
                min-width: 200px;
                max-width: 600px;
            }

            .rd-step-text {
                margin-top: 20px;
                margin-bottom: 50px;
                font-size: 18px;
            }
        }
    }

    .btn-list {
        text-align: center;

        button {
            width: 100px;
            margin-top: 60px;
            margin-bottom: 70px;
            margin-left:4px;
            background-color: #4A8451;
            border: none;
            font-size: 13px;

            &:hover {
                background-color: #2B4D2F;
            }
        }
    }
}