.star-rating {
    display:inline-block; 
    width: 80px; 
    height: 16px; 
    overflow:hidden; 
    background: url("data:image/svg+xml,%3Csvg width='110' height='22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.522 1.546a.5.5 0 0 1 .956 0l2.01 6.505a.5.5 0 0 0 .478.352h6.556a.5.5 0 0 1 .303.898l-5.346 4.084a.5.5 0 0 0-.174.545l2.032 6.575a.5.5 0 0 1-.782.545l-5.252-4.012a.5.5 0 0 0-.607 0L5.446 21.05a.5.5 0 0 1-.782-.545l2.032-6.575a.5.5 0 0 0-.174-.545L1.175 9.301a.5.5 0 0 1 .303-.898h6.556a.5.5 0 0 0 .478-.352l2.01-6.505zM32.522 1.546a.5.5 0 0 1 .956 0l2.01 6.505a.5.5 0 0 0 .478.352h6.556a.5.5 0 0 1 .303.898l-5.346 4.084a.5.5 0 0 0-.174.545l2.032 6.575a.5.5 0 0 1-.782.545l-5.252-4.012a.5.5 0 0 0-.606 0l-5.252 4.012a.5.5 0 0 1-.782-.545l2.032-6.575a.5.5 0 0 0-.174-.545l-5.346-4.084a.5.5 0 0 1 .303-.898h6.556a.5.5 0 0 0 .478-.352l2.01-6.505zM54.522 1.546a.5.5 0 0 1 .956 0l2.01 6.505a.5.5 0 0 0 .478.352h6.556a.5.5 0 0 1 .303.898l-5.346 4.084a.5.5 0 0 0-.174.545l2.032 6.575a.5.5 0 0 1-.782.545l-5.252-4.012a.5.5 0 0 0-.606 0l-5.252 4.012a.5.5 0 0 1-.782-.545l2.032-6.575a.5.5 0 0 0-.174-.545l-5.346-4.084a.5.5 0 0 1 .303-.898h6.556a.5.5 0 0 0 .478-.352l2.01-6.505zM98.522 1.546a.5.5 0 0 1 .956 0l2.01 6.505a.5.5 0 0 0 .478.352h6.556a.5.5 0 0 1 .303.898l-5.346 4.084a.499.499 0 0 0-.174.545l2.032 6.575a.5.5 0 0 1-.782.545l-5.252-4.012a.5.5 0 0 0-.606 0l-5.252 4.012a.5.5 0 0 1-.781-.545l2.031-6.575a.5.5 0 0 0-.174-.545l-5.346-4.084a.5.5 0 0 1 .303-.898h6.556a.5.5 0 0 0 .478-.352l2.01-6.505zM76.522 1.546a.5.5 0 0 1 .956 0l2.01 6.505a.5.5 0 0 0 .478.352h6.556a.5.5 0 0 1 .303.898l-5.346 4.084a.5.5 0 0 0-.174.545l2.031 6.575a.5.5 0 0 1-.78.545l-5.252-4.012a.5.5 0 0 0-.608 0l-5.251 4.012a.5.5 0 0 1-.781-.545l2.031-6.575a.5.5 0 0 0-.174-.545l-5.346-4.084a.5.5 0 0 1 .303-.898h6.556a.5.5 0 0 0 .478-.352l2.01-6.505z' fill='%23E5E5E5'/%3E%3C/svg%3E") no-repeat;
    background-size: auto 16px;

    span {
        display: inline-block; 
        vertical-align:top; 
        height: 16px; 
        background: url("data:image/svg+xml,%3Csvg version='1.1' id='레이어_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 110 22' style='enable-background:new 0 0 110 22;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FEAA08;%7D%0A%3C/style%3E%3Cpath class='st0' d='M10.5,1.5c0.1-0.3,0.4-0.4,0.6-0.3c0.2,0,0.3,0.2,0.3,0.3l2,6.5c0.1,0.2,0.3,0.4,0.5,0.4h6.6 c0.3,0,0.5,0.2,0.5,0.5c0,0.2-0.1,0.3-0.2,0.4l-5.3,4.1c-0.2,0.1-0.2,0.3-0.2,0.5l2,6.6c0.1,0.3-0.1,0.5-0.3,0.6 c-0.2,0-0.3,0-0.5-0.1l-5.3-4c-0.2-0.1-0.4-0.1-0.6,0l-5.2,4c-0.2,0.2-0.5,0.1-0.7-0.1c-0.1-0.1-0.1-0.3-0.1-0.5l2-6.6 c0.1-0.2,0-0.4-0.2-0.5L1.2,9.3C1,9.1,0.9,8.8,1.1,8.6c0.1-0.1,0.2-0.2,0.4-0.2H8c0.2,0,0.4-0.1,0.5-0.4C8.5,8.1,10.5,1.5,10.5,1.5z M32.5,1.5c0.1-0.3,0.4-0.4,0.6-0.3c0.2,0,0.3,0.2,0.3,0.3l2,6.5c0.1,0.2,0.3,0.4,0.5,0.4h6.6c0.3,0,0.5,0.2,0.5,0.5 c0,0.2-0.1,0.3-0.2,0.4l-5.3,4.1c-0.2,0.1-0.2,0.3-0.2,0.5l2,6.6c0.1,0.3-0.1,0.5-0.3,0.6c-0.2,0-0.3,0-0.5-0.1l-5.3-4 c-0.2-0.1-0.4-0.1-0.6,0l-5.3,4c-0.2,0.2-0.5,0.1-0.7-0.1c-0.1-0.1-0.1-0.3-0.1-0.5l2-6.6c0.1-0.2,0-0.4-0.2-0.5l-5.3-4.1 c-0.2-0.2-0.3-0.5-0.1-0.7c0.1-0.1,0.2-0.2,0.4-0.2H30c0.2,0,0.4-0.1,0.5-0.4C30.5,8.1,32.5,1.5,32.5,1.5z M54.5,1.5 c0.1-0.3,0.4-0.4,0.6-0.3c0.2,0,0.3,0.2,0.3,0.3l2,6.5c0.1,0.2,0.3,0.4,0.5,0.4h6.6c0.3,0,0.5,0.2,0.5,0.5c0,0.2-0.1,0.3-0.2,0.4 l-5.3,4.1c-0.2,0.1-0.2,0.3-0.2,0.5l2,6.6c0.1,0.3-0.1,0.5-0.3,0.6c-0.2,0-0.3,0-0.5-0.1l-5.3-4c-0.2-0.1-0.4-0.1-0.6,0l-5.3,4 c-0.2,0.2-0.5,0.1-0.7-0.1c-0.1-0.1-0.1-0.3-0.1-0.5l2-6.6c0.1-0.2,0-0.4-0.2-0.5l-5.3-4.1c-0.2-0.2-0.3-0.5-0.1-0.7 c0.1-0.1,0.2-0.2,0.4-0.2H52c0.2,0,0.4-0.1,0.5-0.4C52.5,8.1,54.5,1.5,54.5,1.5z M76.5,1.5c0.1-0.3,0.4-0.4,0.6-0.3 c0.2,0,0.3,0.2,0.3,0.3l2,6.5c0.1,0.2,0.3,0.4,0.5,0.4h6.6c0.3,0,0.5,0.2,0.5,0.5c0,0.2-0.1,0.3-0.2,0.4l-5.3,4.1 c-0.2,0.1-0.2,0.3-0.2,0.5l2,6.6c0.1,0.3-0.1,0.5-0.3,0.6c-0.2,0-0.3,0-0.4-0.1l-5.3-4c-0.2-0.1-0.4-0.1-0.6,0l-5.3,4 c-0.2,0.2-0.5,0.1-0.7-0.1c-0.1-0.1-0.1-0.3-0.1-0.5l2-6.6c0.1-0.2,0-0.4-0.2-0.5l-5.3-4.1c-0.2-0.2-0.3-0.5-0.1-0.7 c0.1-0.1,0.2-0.2,0.4-0.2H74c0.2,0,0.4-0.1,0.5-0.4C74.5,8.1,76.5,1.5,76.5,1.5z M98.5,1.5c0.1-0.3,0.4-0.4,0.6-0.3 c0.2,0,0.3,0.2,0.3,0.3l2,6.5c0.1,0.2,0.3,0.4,0.5,0.4h6.6c0.3,0,0.5,0.2,0.5,0.5c0,0.2-0.1,0.3-0.2,0.4l-5.3,4.1 c-0.2,0.1-0.2,0.3-0.2,0.5l2,6.6c0.1,0.3-0.1,0.5-0.3,0.6c-0.2,0-0.3,0-0.5-0.1l-5.3-4c-0.2-0.1-0.4-0.1-0.6,0l-5.3,4 c-0.2,0.2-0.5,0.1-0.7-0.1c-0.1-0.1-0.1-0.3-0.1-0.5l2-6.6c0.1-0.2,0-0.4-0.2-0.5l-5.3-4.1c-0.2-0.2-0.3-0.5-0.1-0.7 c0.1-0.1,0.2-0.2,0.4-0.2H96c0.2,0,0.4-0.1,0.5-0.4C96.5,8.1,98.5,1.5,98.5,1.5z'/%3E%3C/svg%3E") no-repeat 0 0;
        background-size: auto 16px;
    }
}

.review-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 2px solid #dee2e6;
    .container {
        padding: 0;
        padding-bottom: 30px;
        margin: 20px 0;
        border-bottom: 2px solid #dee2e6;
        max-width: none;
        .row {
            margin-top: 10px;
        }
        .review-user {
            text-align: center;
            font-weight: bold;
        }
        .review-star, .review-content {
            text-align: left;
        }
        .review-img {
            width: 200px;
            height: 200px;
            overflow: hidden;
            margin-bottom: 10px;
            img {
                width: 100%;
                max-height: 200px;
                object-fit: cover;
            }
        }
        .review-btn {
            margin-bottom: -25px;
            .shop-review-btn-wrapper {
                .shop-review-btn-edit {
                    background-color: white;
                    color: #4A8451;
                    border: none;
                    font-size: 18px;
                }
        
                .shop-review-btn-cancel {
                    background-color: white;
                    color: #4A8451;
                    border: none;
                    font-size: 18px;
                }
            }
        }
        .shop-updatereview-wrapper {
            padding: 8px 8px;
            border: 1px solid rgb(167, 167, 167);
            margin-bottom: 10px;
            margin-top: 10px;
            #shop-updatereview {
                width: 100%;
                height: 120px;
                border: none;
                resize: none;
                margin-top: 5px;
            }
            #shop-updatecomment:focus {
                outline: none;
            }
            .shop-reviewupdate-btn-wrapper {
                text-align: right;
                padding-right: 10px;
                .shop-reviewupdate-btn,
                .shop-reviewupdate-cancel {
                    background-color: #4A8451;
                    border-color: #4A8451;
                    margin-bottom: 10px;
                }
            }
        }
    } 
}

.shop-writereview-wrapper{
    padding: 8px 8px;
    border: 1px solid rgb(167, 167, 167);
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: left;
    .form-group {
        padding-top: 10px;
        margin-bottom: 5px;
        // #formStarRating {
        //     font-family: 'FontAwesome', 'Second Font name';
        // }
        // #formStarRating option {
        //     color: #FFC300;
        // }
    }
    .shop-writereview-name{
        color: black;
        font-size: 18px;
        font-weight: 500;
    }
    #shop-writereview{
        width: 100%;
        height: 120px;
        border: none;
        resize: none;
        margin-top: 5px;
    }
    #shop-writereview:focus{
        outline: none;
    }
    .shop-reviewwrite-btn-wrapper{
        text-align: right;
        padding-right: 10px;
        .shop-reviewwrite-btn{
            background-color: #4A8451;
            border-color: #4A8451;
            margin-bottom: 10px;

            &:hover,
            &:active {
                background-color: #2b4d2f;
                border-color: #2b4d2f;
            }
        }
    }
}