@font-face {
    font-family: 'main-font-l';
    src: url('/assets/fonts/main-font/KoPubWorld-Dotum-Light.ttf');
  }

@font-face {
    font-family: 'main-font-m';
    src: url('/assets/fonts/main-font/KoPubWorld-Dotum-Medium.ttf');
}

@font-face {
    font-family: 'home-title-font-l';
    src: url('/assets/fonts/home-title-font/GmarketSansTTFLight.ttf');
  }

.shop-main {
    padding: 0% 15%;
    position: relative;

    .shop-best {
        padding: 20px 0px;
    }

    h3 {
        text-align: center;
        font-family: 'home-title-font-l';
    }

    .shop-content-bar {
        display: block;
        text-align: right;
        margin-top: 30px;
        font-family: 'main-font-l';

        .shop-sort-btn {
            background-color: transparent;
            border: none;
        }

        a:before {
            content: "";
            font-family: FontAwesome;
            margin-right: 0.3vw;
        }
        .active a {
            color: black;
            font-weight: bold;
        }

        .active a:before {
            content: "\f00c";
            color: #4A8451;
            font-size: 0.3vw;
            font-weight: lighter;
        }
    }


    .shop-items-table {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: repeat(4, 250px);
        width:100%;
        padding-left: 0;
        margin-bottom: 0;

        li {
            display:inline-block;
            vertical-align:middle;
            margin-bottom: 10vh;
            margin-top: 3vh;

            #shopItem {
                padding: 0;

                #shopImg {
                    width: 230px;
                    height: 250px;
                    border: none;
                }

                .like {
                    position: relative;
                    left: 90px;
                    bottom: 40px;
                    cursor: pointer;
                    z-index: 100;
                }

                #shopTitle {
                    height: 90px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }

    .shop-search-table {
        min-width: 600px;
        margin-top: 70px;
        padding: 2px 0px;
        vertical-align: middle;
        border-top: 2px solid #aaaaaa;
        border-bottom: 2px solid #aaaaaa;

        .row {
            margin: 0px;
            text-align: left;

            .col-md-12 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .type-buttons {
                    margin-right: 20px;
                    padding-top: 3px;

                    button {
                        font-family: "main-font-m";
                        font-size: 13px;
                        color: gray;
                        background-color: transparent;
                        border: none;

                        &:focus,
                        &.active{
                             color: #75bf7f;
                            background-color: transparent;
                        }

                        &:hover {
                            color: #69a170;
                            background-color: transparent;

                        }
                    }
                }
            }

            .search-bar {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 220px;
                height: 32px;
                border-radius: 5px;
                border: solid 1px #aaaaaa;
                z-index: 1;
                opacity: 1;

                svg {
                    margin: 0px 8px;
                }

                input {
                    padding-left: 5px;
                    padding-right: 24px;
                    margin-right: 2px;
                    font-family: "main-font-l";
                    height: 28px;
                    border: none;
                    -webkit-appearance: none;
                    text-align: left;
                    overflow: auto;
                    z-index: -1;
                    font-size: 15px;

                    &::-webkit-search-cancel-button {
                        display:none
                    }

                    // focus시 placeholder 안보이게
                    &:focus::-webkit-input-placeholder {
                        color: transparent;
                    }
                    &:focus::-moz-placeholder {
                        color: transparent;
                    }
                    &:focus:-ms-input-placeholder {
                        color: transparent;
                    }
                    &:focus::-ms-input-placeholder {
                        color: transparent;
                    }

                    // placeholder 왼쪽 정렬
                    &::-webkit-input-placeholder {
                        text-align: left;
                    }
                }

                .btn-clear {
                    position: absolute;
                    vertical-align: middle;
                    padding: 0;
                    margin-right: 46px;
                    right: 0;
                    color: gray;
                    background: center center no-repeat;
                    border: none;
                    z-index: 2;

                    &:hover {
                        color: black;
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.shop-hr {
    padding-top: 20px;
    hr {
        height: 1px;
        background-color: lightgray;
    }
}

.pagination-wrapper{
    text-align: center !important;
}

.bestItem-slider-wrapper {
    display: grid;
    justify-content: space-around;
    margin-bottom: 40px;
    height: 389px;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.bestItem-slider {
   min-width: 1000px;

    #shopItem {
        padding: 0;
        margin: 10px;
        #shopImg {
            width: 230px;
            height: 250px;
            border: none;
        }

        .like {
            position: relative;
            left: 90px;
            bottom: 40px;
            cursor: pointer;
            z-index: 100;
        }

        #shopTitle {
            height: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.slick-prev,
.slick-next {
    color: black;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: black;
    outline: none;
    background: transparent;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
