.signup-box{
    margin: 100px auto;
    text-align: center;
}

.signup-logo{
    margin: 30px;
}

.signup-welcome{
    font-weight: bold;
    font-size: 30px;
}

.signup-ment{
    font-size: 18px;
    margin: 15px 0 40px;
}

.go-login{
    background-color: white;
    color: #4A8451;
    border-color: #4A8451;
    margin-right: 10px;
}

.go-main{
    background-color: #4A8451;
    border-color: white;
    margin-left: 10px;
}