@font-face {
    font-family: 'home-title-font-m';
    src: url('assets/fonts/home-title-font/GmarketSansTTFMedium.ttf');
  }

  @font-face {
    font-family: 'home-title-font-l';
    src: url('assets/fonts/home-title-font/GmarketSansTTFLight.ttf');
  }

  .card {
      border-radius: none;
      box-shadow: none;
      align-items: center;
  }
  
  .card:hover {
      box-shadow: none !important;
      transform: none !important;
  }
  
  .magazine_title {
    margin-top: 40px;
    text-align: center;
  }
  
  .magazine_title h3 {
      font-family: "home-title-font-l";
      margin-bottom: 40px;
      font-size: 24px;
  }
  
  .card .card-button {
      position: absolute;
      top: 43%;
      box-shadow: none;
      border-radius: 5px;
      width: 36px;
      height: 36px;
      background-color: transparent;
    }
  
    .card .card-button.left {
      left: -5%;
    }
    
    .card .card-button.right {
      right: -5%;
    }
    
    .card-card {
      transition: all 300ms ease;
      cursor: pointer;
      width: 100%;
      height: 400px;
      position: relative;
      background-color: #ffffff;
      box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05);
    }
    
    .card-card:hover {
      transform: scale(1.05);
    }
    
    .react-stacked-center-carousel-slide-0 .card-card {
      cursor: default;
    }
    
    .react-stacked-center-carousel-slide-0 .card-card:hover {
      transform: none;
    }
    
    .fill {
      width: 100%;
      height: 100%;
    }
    
    .card-card .card-overlay {
      user-select: none;
      position: absolute;
      background-color: #00000099;
      transition: all 300ms ease;
    }
    
    .card-card:hover .card-overlay {
      background-color: #0000002d;
    }
    
    .react-stacked-center-carousel-slide-0 .card-overlay {
      background-color: #00000099 !important;
    }
    
    .card-card .cover-image {
      position: absolute; top:0; left: 0;
      object-fit: cover;
    }
    
    .card-card .cover {
      position: absolute;
      transition: opacity 300ms ease;
    }
    .react-stacked-center-carousel-slide-0 .card-card .cover {
      transition: opacity 300ms ease, z-index 0ms 300ms;
    }
    
    .card-card .cover.on {
      opacity: 1;
      z-index: 1;
    }
    
    .card-card .cover.off {
      opacity: 0;
      z-index: -1;
    }
    
    .card-card .detail {
      display: flex;
    }
    .card-card .video {
      width: 20%;
    }
    .card-card .discription {
      display: flex;
      flex-direction: column;
    }
    
    
    